.container_video_text {
    height: 2000px;
}

.video-dekstop {
    display: block;
    height: 100vh;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    transition: transform 0.2s linear;
    perspective: 1200px;
}

.video-mask {
    position: absolute;
    height: 100%;
}

.video-wrap {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    z-index: 2;
    transform-origin: center;
    transition: transform 0.2s ease;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;-

    font-size: 68px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }




  .sliderVideo {
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
      -webkit-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
      -moz-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
      -ms-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
      -o-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  }


  .slide_group_video {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .slideVideo {
    display: block;
    height: 100vh;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    perspective: 1200px;
  }

  /* .slideVideo:first-child {
    display: block;
  }

  .slideVideo:nth-of-type(1) {
  background-color:black;

  }

  .slideVideo:nth-of-type(2) {
    background-color:black;
  }

  .slideVideo:nth-of-type(3) {
     background-color:black;
  } */

  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }

  @media only screen and (max-width: 767px) {
    .previousVideo_btn {
      left: 10%;
      text-align: center;
    }
    .nextVideo_btn {
      right: 10%;
      text-align: center;
    }
  }


  .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4em;
      height: 3em;
      margin-top: -1.5em;
      margin-left: -2em;
      background: red;
      border-radius: 1em;
      cursor: pointer;
    text-align:center;
  }
  .play-button:after {
      content:"\25b6";
      font-size: 2em;
      line-height: 1.4em;
  }
  video{
         max-height: 100%;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
  }

  .overlay-content {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: 0.4s opacity;
  }

  .text {
    display: none;
  }

  .slideVideo.playing .overlay-content {
      opacity: 0;
      visibility: hidden;
  }

.video-mobile {
    display: none;
}

.container_text {
    position: absolute;
    height: 2000px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.vision_text {
    font-family: "Rubik", "sans-serif" !important;
    color: #454a65;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    line-height: normal;
    transform: scale(0.5); /* Skala awal */
    transform-origin: center;
    position: sticky;
    top: 50%; /* Posisi tengah vertikal */
    height: 100vh;
    transition: transform 1s ease;
    margin-bottom: 200px;
}

.wrap-box {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
}

.wrap-box img {
    width: 16%;
    margin-bottom: 35px;
    font-size: unset;
    height: unset;
    display: unset;
    object-position: unset;
    object-fit: unset;
    image-rendering: unset;
    bottom: unset;
}

.wrap-box p {
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    width: 80%;
}

.wrap-box span {
    font-size: 20px;
    width: 80%;
}

.wrap-box .left {
    width:70%;
    padding: 100px 100px 100px 100px;
    margin: 0px 0px 100px 200px;
    display: grid;
    border-radius: 20px 0px 0px 20px;
    background: #ffffff;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.wrap-box .right {
    border-radius:0px 20px 20px 0px;
    margin: 0px 200px 100px 0px;
    background: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0.3, 0, 0.3);
    width:35%;
}

.wrap-box .leftInvert {
    border-radius: 20px 0px 0px 20px;
    margin: 0px 0px 100px 200px;
    background: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0.3, 0, 0.3);
    width:35%;
}

.wrap-box .rightInvert {
    width:70%;
    padding: 100px 100px 100px 100px;
    margin: 0px 200px 100px 0px;
    display: grid;
    border-radius: 0px 20px 20px 0px;
    background: #ffffff;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    position: relative;
    margin: 100px 50px;
    height: 75vh; /* Tinggi gambar 75% dari tinggi viewport */
    overflow: hidden; /* Mengatur agar gradient hanya muncul di area gambar */
    border-radius: 20px;
}

.image-container a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Menghapus garis bawah default dari tautan */
}

.image-container img {
    width: 100%; /* Gambar mengisi lebar container */
    height: 100vh; /* Mengikuti proporsi asli */
    display: block; /* Memastikan tampilan sebagai block element */
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    bottom: 120px;
}

.image-overlay {
    position: absolute; /* Menempatkan overlay di atas gambar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.02)
    ); /* Gradient dari kiri ke kanan */
    color: #fff; /* Warna teks di atas gradient */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 500px 0 70px; /* Padding untuk menyesuaikan teks */
}

.image-overlay h1 {
    font-size: 2.4em; /* Ukuran font teks */
    margin: 0; /* Menghapus margin default */
    line-height: normal;
}

.image-overlay span {
    font-size: 20px;
}

.btn-more {
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: white solid 1px;
    border-radius: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    text-wrap: nowrap;
}

.btn-more img {
    width: 24%;
    font-size: unset;
    height: unset;
    display: unset;
    object-position: unset;
    object-fit: unset;
    image-rendering: unset;
    bottom: unset;
}

.ic-bisnis {
    filter: brightness(0) invert(1);
    width: 60%;
}

.image-overlay p {
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
}

.ic-bisnis img {
    width: 24%;
    font-size: unset;
    height: unset;
    display: unset;
    object-position: unset;
    object-fit: unset;
    image-rendering: unset;
    bottom: unset;
}

.client_text {
    font-size: 48px;
    font-weight: 500;
    padding: 0px 200px 0px 200px;
    margin: 100px 0;
    text-align: center;
    line-height: 1.2em;
}

.marquee-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );
}

.marquee {
    display: flex;
    gap: 100px;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-20% * 18));
        /* transform: translateX(-50%); */
    }
}

.news_box {
    padding: 50px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #454a65, rgba(69, 74, 101, 0.7));
    align-content: center;
}

.news_box label {
    font-size: 45px;
    color: white;
    padding: 20px 0 0 0;
    line-height: normal;
}

.news_wrapper {
    margin: 80px 0px 0px 0px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.news_content {
    display: grid;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    cursor: pointer;
}

.news_content label {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.3;
    cursor: pointer;
}

.news_content a {
    gap: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.news_content a:hover {
    transform: scale(0.98);
    opacity: 0.8;
}

.news_content img {
    height: 200px;
    border-radius: 10px;
    width: 100%;
    object-position: center center;
    object-fit: cover;
}

.news_box .news_footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_box .news_footer button {
    width: fit-content;
    padding: 10px 50px 10px 50px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

 .flex-box img {
    width: 50%;
    object-fit: cover;
    box-shadow: 0 0 5vh rgba(0, 0, 0, 0.2);
}

 .flex-box .text-box {
    width: 100%;
    height: 80vh;
    padding: 0px 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

 .flex-box .text-box h3 {
    font-size: 6em;
    margin-bottom: 36px;
    line-height: 0.7;
    font-family: "outfit";
    text-shadow: 0 0.75vh 0.75vh rgba(0, 0, 0, 0.15);
}

 .flex-box .text-box em {
    font-size: 36px;
    font-weight: 400;
}

 .flex-box .text-box span {
    font-size: 9.2em;
    font-weight: 500;
    color: #f0f0f0;
    position: absolute;
    left: 334px;
    top: -10px;
    z-index: -1;
}

 .flex-box .text-box p {
    margin-bottom: 32px;
    color: #444;
    font-size: 1.66em;
    text-align: center;
    line-height: 1.6;
}

 .flex-box .text-box .more-btn {
    width: 200px;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    border: 1px #333 solid;
    padding: 0px 14px;
    background-image: url(../img/icon/icon-next.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    transition: all 0.3s;
}

.more-btn {
    width: 200px;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    border: 1px #333 solid;
    padding: 0px 14px;
    background-image: url(../img/icon/icon-next.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    transition: all 0.3s;
}

.more-btn:hover {
    background-color: #333;
    color: #fff;
    background-image: url(../img/icon/icon-next2.svg);
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.sub-title {
    font-size: 1.3em;
    color: #ff7432;
    margin-bottom: 14px;
    font-weight: 500;
    display: block;
}

.title {
    font-size: 3.4em;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.3;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.item {
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0.5s ease-in-out, transform 0.01s ease-in-out;
}

.item.visible {
    opacity: 1;
    transform: scale(1);
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: scale(0.7);
    }
    80% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1140px) {
    .video-dekstop {
        display: none;
    }

    .video-mobile {
        display: block;
        height: 100vh;
        position: absolute;
        width: 100vw;
        object-fit: cover;
        transition: transform 0.3s linear;
        perspective: 1200px;
    }

    .vision_text {
        font-size: 32px;
        padding: 0 20px;
    }

    .client_text {
        font-size: 24px !important;
        padding: 0px 20px 0px 20px !important;
    }

    .news_wrapper {
        margin: 80px 0px 0px 0px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: space-between;
    }

    .news_box {
        padding: 50px 20px 100px 20px;
    }

    .image-overlay {
        padding: 0 20px;
    }

    .image-overlay p {
        font-size: 24px;
        font-weight: 500;
    }

    .image-container {
        margin: 40px 20px;
    }

    .image-overlay span {
        font-size: 16px;
    }

    .news_box label {
        font-size: 32px;
    }
}

@media screen and (max-width: 780px) {
    .vision_text {
        font-size: 24px;
    }

    .marquee {
        gap: 50px;
        animation: marquee 20s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-32% * 16));
            /* transform: translateX(-50%); */
        }
    }
}
